<form method="post" action="{{ path('app_aeroport_delete', {'id': aeroport.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aeroport.id) }}">
    <button class="btn">Delete</button>
</form>
